<div class="card-container">
    <div class="card">
        <div class="card-image">

        </div>
        
        <div class="card-title">
            Skillz
            <div class="card-caption">
                Lots of em
            </div>
        </div>
        <div class="card-stats">
            <div class="followers">
                2000+
                <div>
                    Number of Skills
                </div>
            </div>

        </div>
        <div class="card-text">
            <ul>
                <li>
                  Python
                </li>
                <li>
                    C
                </li>
                <li>
                    C++
                </li>
                <li>
                    C+++2
                </li>
                <li>
                    Cobalt
                </li>
                <li>
                    Synchronized Swimming
                </li>
                <li>
                    Doorknob Licking
                </li>
                <li>
                    Softball
                </li>
                
              </ul>
        </div>
</div>
