
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container">
        <app-project-header></app-project-header>
        <app-projects></app-projects>
      </div>
    </div>
    <div class="col">
      <div class="container" id="card">
        <div>
          <ul>
            <li>
              <a routerLink="/card" routerLinkActive="active"> Bio </a>
            </li>
            <li>
              <a routerLink="/card-skills" routerLinkActive="active"> Skills </a>
            </li>
          </ul>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

